@{
    ViewData["Title"] = "Chính sách bảo mật";
}
<h1 data-i18n="privacyPage.title">@ViewData["Title"]</h1>

<p data-i18n="privacyPage.description">Sử dụng trang này để nêu chi tiết chính sách bảo mật của trang web của bạn.</p>
